<ul>
  <% @octokit.repositories.each_with_index do |repo, idx| %>
    <% if !has_license?(repo) %>
      <li>
        <input type="checkbox" id="repo_<%= idx %>" value="<%= repo.name %>">
          <label for="repo_<%= idx %>">
            <a href="<%= repo.html_url %>"> <%= repo.full_name %></a>
          </label>
      </li>
    <% end %>
  <% end %>
</ul>

<input type="submit" value="Add licenses!" />