<ul>
  <% @octokit.repositories.each_with_index do |repo, idx| %>
    <% if !has_license?(repo) %>
      <li>
        <input type="checkbox" name="repositories[]" id="repo_<%= idx %>" value="<%= repo.full_name %>">
          <label for="repo_<%= idx %>">
            <%= repo.full_name %>
            <% if repo.description && repo.description.length > 0 %>
             - <%= repo.description.length > 80 ? repo.description[0..77].strip + "..." : repo.description %>
            <% end %>
            (<a href="<%= repo.html_url %>">link</a>)
          </label>
      </li>
    <% end %>
  <% end %>
</ul>

<button type="submit" class="large pink btn icon-and-text position-left">
  Add licenses!
</button>