<div id="#repo-controls">
  <a href="#" id="select-non-forks">Select Non-Forks</a> / <a href="#" id="select-all-repos">Select All</a> / <a href="#" id="unselect-all-repos">Select None</a>
</div>

<ul>
  <% repositories_missing_licenses.each_with_index do |repo, idx| %>
    <li>
      <input type="checkbox" name="repositories[]" id="repo_<%= idx %>" value="<%= repo.full_name %>" class="<%= repo.fork ? 'is_fork' : 'non_fork'%>">
        <label for="repo_<%= idx %>">
          <strong><%= repo.full_name %></strong>
          <% if repo.description && repo.description.length > 0 %>
           - <%= repo.description.length > 80 ? repo.description[0..77].strip + "..." : repo.description %>
          <% end %>
          (<a href="<%= repo.html_url %>">link</a>)
        </label>
    </li>
  <% end %>
</ul>

<input type="text" placeholder="Add LICENSE file via addalicense.com" name="message" maxlength="80" size="85">

<button type="submit" class="large pink btn icon-and-text position-left">
  Add licenses!
</button>